
$colorPrincipal : rgb(178, 233, 247);
$colorTerceario: rgb(125, 231, 104);
$colorCuatro: rgb(247, 247, 247);
$colorHeader: rgb(15, 36, 83);
$letrasTitulos: rgb(217, 196, 166);
$letrasTextos: rgb(0, 0, 0);


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
}
.logo{
    width: 60%;
    height: 100%;
    background-color: $colorHeader;
}
.logo-contenedor{
    height: 80%;
    margin-left: 20%;
    margin-top: 2%;
}
.logo-contenedor img{
    height: 100%;
}

.menu{
    width: 40%;
    background-color: $colorHeader;
}
.menu-contenedor{
    display: block;
    height: 80%;
    width: 90%;
    text-align: right;
    margin-top: 8%;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.menu ul li{
    margin: 0 20px;
}
a{
    text-decoration: none;
    color:  $letrasTitulos;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1.5s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
  border-radius: 2px;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}



$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: rgb(227, 50, 76), 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
);
@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
  }
  
  // Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
  button {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
  }


.menu ul li span{
    background: none;
    border: 2px solid rgb(227, 50, 76);
    border-radius: 5px;
    color: rgb(227, 50, 76);
    font: inherit;
    padding: 5px;
}
.menu ul li span:hover{
    color: rgb(227, 50, 76);
    border: 1px solid rgb(227, 50, 76);
    border-radius: 5px;
}


.banner{
    height: 40vh;
    background: url(https://images.pexels.com/photos/534216/pexels-photo-534216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.banner-text{
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 8vh;
}
.banner-text h1{
    font-size: 49px;
    font-weight: 700;
}
.banner-text h2{
    font-size: 34px;
    font-weight: 200;
}

/*-------------------------------------------------------------------------------*/
.principal{
    height: 100vh;
    width: 60%;
    margin: auto;
}
.texto-principal{
    width: 60%;
    margin: auto;
}
.principal h3, h4{
    text-align: center;
    color: $colorHeader;
}
.principal p{
    font-size: 17px;
    font-weight: 400;
    height: 60px;
    line-height: 30px;
    margin: 0px 0px 22px;
    padding: 0px;
    width: 750px;
}








//-------------------------------------------------------------------------------------------------------------------------//

.Contacto{
    height: 70vh;
    width: 80%;
    margin: auto;
    display: flex;
}
.contact{
    height: 50vh;
    display: flex;
}
.container-contact{
    height: 40vh;
    width: 90%;
    margin: auto;
    text-align: center;
}
.container-contact h4{
    display: block;
    text-align: center;
    font-size: 35px;
}
.container-contact .botones{
    text-align: center;
}
.botones a{
    color: #666;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 15px 20px 15px 50px;
    margin: 15px;
    cursor: pointer;
    display: inline-block;
}
.botones a:hover{
    color: rgb(102, 51, 153);
    border: 1px solid rgb(102, 51, 153);
}

.botones img{
    display: inline-block;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin: -12.5px 0 0 0;
}




.contacto-formulario{
    height: 100%;
    width: 50%;
    margin-left: 300px;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(102, 51, 153);
    color: #000;
    font-size: 18px;
    margin-bottom: 16px;
}
.form-control-submit{
    border: none;
    outline: none;
    color: #000;
    width: 600px;
    background: $colorCuatro;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(102, 51, 153);
    letter-spacing: 2px;
}
.form-control-submit:hover{
    background: $colorTerceario;
    cursor: pointer;

}

input{
    height: 45px;
}
