body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 60%;
  height: 100%;
  background-color: #0f2453;
}

.logo-contenedor {
  height: 80%;
  margin-left: 20%;
  margin-top: 2%;
}

.logo-contenedor img {
  height: 100%;
}

.menu {
  width: 40%;
  background-color: #0f2453;
}

.menu-contenedor {
  display: block;
  height: 80%;
  width: 90%;
  text-align: right;
  margin-top: 8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #d9c4a6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1.5s;
          animation: pulse 1.5s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

.menu ul li span {
  background: none;
  border: 2px solid #ffa260;
  color: #ffa260;
  font: inherit;
  padding: 5px;
}

.menu ul li span:hover {
  color: #ffa260;
  border: 1px solid #ffa260;
}

.Nosotros {
  height: 70vh;
  width: 100%;
}

.nosotros-contenedor {
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagen-nosotros {
  height: 100%;
  width: 60%;
}

.imagen-nosotros img {
  width: 100%;
  height: 100%;
}

.texto-nosotros {
  height: 100%;
  width: 40%;
}

.contenedor-titulo {
  text-align: center;
  color: #d9c4a6;
}

.contenedor-titulo h2 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}

.contenedor-texto {
  text-align: justify;
  width: 50%;
  margin: auto;
}

.contenedor-texto p {
  line-height: 28px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.Servicios {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vh;
}

.container-text {
  width: 100%;
  height: auto;
  margin: auto;
}

.container-text .titular {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 20px auto 5vh auto;
}

.bloque-tarjeta {
  width: 80%;
  height: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 100px;
}

.bloque-tarjeta .cont-tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 0 10px 30px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -6px #777777;
          box-shadow: 0px 0px 16px -6px #777777;
  padding-top: 20px;
  height: 500px;
}

.tarjeta-header {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 25px 0 12px 0;
}

.tarjeta-header p {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin: -4px auto 0 auto;
  display: block;
}

.tarjeta-descripcion {
  color: black;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  margin: 0px auto;
  min-height: 80px;
  display: inline;
}

.tarjeta-descripcion p {
  margin: 30px;
}

.Clientes {
  height: 60vh;
  width: 100%;
  margin-top: 10vh;
}

.container-empresas {
  height: 35vh;
  margin: auto;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.container-empreimg {
  width: 33%;
}

.container-empreimg img {
  width: 100%;
}

.container-empresas-2 {
  width: 30%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-empresas-2 .container-empreimg {
  width: 50%;
}

.Contacto {
  height: 70vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto-texto {
  background-color: #f7f7f7;
  height: 100%;
  width: 50%;
}

.contacto-formulario {
  height: 100%;
  width: 50%;
}

form {
  margin-top: 50px;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rebeccapurple;
  color: #000;
  font-size: 18px;
  margin-bottom: 16px;
}

.form-control-submit {
  border: none;
  outline: none;
  color: #000;
  width: 600px;
  background: #f7f7f7;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rebeccapurple;
  letter-spacing: 2px;
}

.form-control-submit:hover {
  background: #7de768;
  cursor: pointer;
}

input {
  height: 45px;
}

.banner {
  height: 60vh;
  background: url(https://images.pexels.com/photos/534216/pexels-photo-534216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.banner-text {
  color: white;
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */