$colorPrincipal : rgb(178, 233, 247);
$colorTerceario: rgb(125, 231, 104);
$colorCuatro: rgb(247, 247, 247);
$colorHeader: rgb(15, 36, 83);
$letrasTitulos: rgb(217, 196, 166);
$letrasTextos: rgb(0, 0, 0);


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
}
.logo{
    width: 60%;
    height: 100%;
    background-color: $colorHeader;
}
.logo-contenedor{
    height: 80%;
    margin-left: 20%;
    margin-top: 2%;
}
.logo-contenedor img{
    height: 100%;
}

.menu{
    width: 40%;
    background-color: $colorHeader;
}
.menu-contenedor{
    display: block;
    height: 80%;
    width: 90%;
    text-align: right;
    margin-top: 8%;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.menu ul li{
    margin: 0 20px;
}
a{
    text-decoration: none;
    color:  $letrasTitulos;
}

.Nosotros{
    height: 70vh;
    width: 100%;
  
}
.nosotros-contenedor{
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
}
.imagen-nosotros{
    height: 100%;
    width: 60%;
}
.imagen-nosotros img{
    width: 100%;
    height: 100%;
}
.texto-nosotros{
    height: 100%;
    width: 40%;
}
.contenedor-titulo{
    text-align: center;
    color:  $letrasTitulos;
}
.contenedor-titulo h2{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.contenedor-texto{
    text-align: justify;
    width: 50%;
    margin: auto;
}
.contenedor-texto p{
    line-height: 28px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

//--------------------------------------------------------------------------------------------------------------------//
.Servicios{
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 8vh;
}
.container-text{
    width: 100%;
    height: auto;
    margin: auto;
}
.container-text .titular{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto 5vh auto;
}
.bloque-tarjeta{
    width: 80%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-top: 100px;
}
.bloque-tarjeta .cont-tarjeta{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 0 10px 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -6px #777777;
    padding-top: 20px;
}
.tarjeta-header{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 25px 0 12px 0;
}
.tarjeta-header p{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: -4px auto 0 auto;
    display: block;
}
.tarjeta-descripcion{
    color: $letrasTextos;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    margin: 0px auto;
    min-height: 80px;
    display: inline;
}
.tarjeta-descripcion p{
    margin: 30px;
    text-align: justify;
}




//-------------------------------------------------------------------------------------------------------------------//
.Clientes{
    height: 60vh;
    width: 100%;
    margin-top: 10vh;
}
.container-empresas{
    height: 35vh;
    margin: auto;
    background-color: $colorCuatro;
    display: flex;
    border-radius: 10px;
}
.container-empreimg{
    width: 33%;
}
.container-empreimg img{
    width: 100%;
}
.container-empresas-2{
    width: 30%;
    height: auto;
    margin: auto;
    display: flex;
}
.container-empresas-2 .container-empreimg{
    width: 50%;
}


//-------------------------------------------------------------------------------------------------------------------//

.Contacto{
    height: 70vh;
    width: 80%;
    margin: auto;
    display: flex;
}
.contacto-texto{
    background-color: $colorCuatro;
    height: 100%;
    width: 50%;
}
.contacto-formulario{
    height: 100%;
    width: 50%;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rebeccapurple;
    color: #000;
    font-size: 18px;
    margin-bottom: 16px;
}
.form-control-submit{
    border: none;
    outline: none;
    color: #000;
    width: 600px;
    background: $colorCuatro;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rebeccapurple;
    letter-spacing: 2px;
}
.form-control-submit:hover{
    background: $colorTerceario;
    cursor: pointer;

}

input{
    height: 45px;
}
